<div ng-controller="TagCtrl" tagset-subscriptions="status">
  <div class="status" style="margin-top:20px">
      <div class="shadow blackbg">
	    <form ng-submit='write("PUMP9/LOG_DB.JOB_NAME",customer)'>
          <input id="customerentry" class="form-control" type="text" ng-model="customer">
        </form>
	  </div>
  </div>
  
  <div class="status row noprint" style="margin-top:20px">
    <div class="col-md-3">
      <div class="shadow p1pressurebox">
		<h3>DISCHARGE 1 PRESSURE</h3>
        <h4>{{ status["PUMP9/ANALOG_DB.PUMP_1.DISCH_PRESS"].value | number:0 }}</h4>
		<h2>PSI</h2>
      </div>
    </div>
    <div class="col-md-3">
      <div class="shadow p2pressurebox">
		<h3>DISCHARGE 2 PRESSURE</h3>
        <h4>{{ status["PUMP9/ANALOG_DB.PUMP_2.DISCH_PRESS"].value | number:0 }}</h4>
		<h2>PSI</h2>
      </div>
    </div>
    <div class="col-md-3">
      <div class="shadow ratebox">
        <h3>PUMP RATE</h3>
        <h4>{{ status["PUMP9/PUMP_DB.OVERALL.RATE"].value | number:1 }}</h4>
		<h2>BPM</h2>
      </div>
    </div>
	<div class="col-md-3">
      <div class="shadow ratebox2">
        <h3>PUMP FLOW METER RATE</h3>
        <h4>{{ status["PUMP9/PUMP_DB.OVERALL.SUCTION_FLOWMETER.RATE"].value | number:1 }}</h4>
		<h2>BPM</h2>
      </div>
    </div>
  </div>

  <ng-dygraphs data="datax"
      id="mainchart"
      annotations="annotationsx"
      options="optionsx"
      legend="legendx"
      actions="actionsx"
	  rangecallback="rangecallbackx"
      >
  </ng-dygraphs>
  
  <div class="well noprint">
    <a href="/log/main/dailydownload" class="btn btn-info" role="button">Download Last 15h CSV File</a>
    <a href="{{chartcsvurl}}" class="btn btn-info" role="button">Download Chart CSV File</a>
    <button type="button" class="btn btn-info" onclick="window.print();">Print</button>
	<br>
    <label for="MaxBBL">Maximum BPM</label>
    <input type="number" id="MaxBBL" name="MaxBBL" min="1" max="25" ng-model="textboxmaxbbl">
	<br>
	<label for="MaxPSI">Maximum PSI</label>
    <input type="number" id="MaxPSI" name="MaxPSI" min="1" max="10000" ng-model="textboxmaxpsi">
	<br>
	<br>
	<img src="/views/iedac.jpg" width="103" height="39">
  </div>

</div>
